*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: hsl(30, 54%, 90%);
}
.main-container{
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    max-width: 600px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 10px;
    margin: 30px;
}
.top-element img{
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}
.top-element h1{
    font-family: "Young Serif", serif;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}
.top-element p{
    font-size: 14px;
    font-family: "Outfit", serif;
    padding-top: 10px;
}
.time-preparation{
    margin-top: 20px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 5px;
    padding: 10px;
}
.time-preparation h2{
    color: hsl(332, 51%, 32%);
    font-size: 16px;
    padding-bottom: 8px;
    font-family: "Young Serif", serif;
}

.time-preparation ul li::marker{
    color: hsl(332, 51%, 32%);
}
.time-preparation ul{
    padding-left: 20px;
}
.time-preparation li{
    color: hsl(24, 5%, 18%);
    padding: 6px;
    font-size: 14px;
    font-family: "Outfit", serif;
}
.ingredient{
    margin-top: 10px;
}
.ingredient h2{
    color: hsl(14, 45%, 36%);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    font-family: "Young Serif", serif;
}
.ingredient ul li::marker{
    color: hsl(332, 51%, 32%);
}
.ingredient li{
    color: hsl(24, 5%, 18%);
    padding: 6px;
    font-size: 14px;
    font-family: "Outfit", serif;
}
.ingredient ul{
    padding-left: 20px;
}
.line-break{
    border-bottom: 1px solid hsla(30, 10%, 34%, 0.2);
    padding-top: 10px;
}

.instruction{
    margin-top: 10px;
}
.instruction h2{
    color: hsl(14, 45%, 36%);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    font-family: "Young Serif", serif;
}
.instruction ol li::marker{
    color: hsl(332, 51%, 32%);
}
.instruction li{
    color: hsl(24, 5%, 18%);
    padding: 6px;
    font-size: 14px;
    font-family: "Outfit", serif;
}
.instruction ol{
    padding-left: 20px;
}
.nutrition {
    margin-top: 10px;
    text-align: left;
    font-family: "Young Serif", serif;
}

.nutrition h2 {
    margin-top: 20px;
    color: hsl(14, 45%, 36%);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
}

.nutrition caption {
    font-size: 12px;
    color: hsl(30, 10%, 34%);
    margin-top: 10px;
    text-align: left;
    padding-bottom: 10px;
}

.nutrition table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition tr {
    border-bottom: 1px solid hsla(30, 10%, 34%, 0.3);
    padding-top: 10px;
}

.nutrition tr:last-child {
    border-bottom: none;
}
.nutrition td {
    padding: 8px;
    font-size: 14px;
    color: hsl(30, 10%, 20%);
}

.nutrition td:last-child {
    font-weight: bold;
    color: hsl(14, 45%, 36%);
    text-align: justify;
}
